<div class="wrapper formWrapper">
  <form action="/" method="post" enctype="multipart/form-data">
    <label for="fileName">File name:</label>
    <input type="text" name="fileName">
    <label for="fileDesc">Description:</label>
    <input type="text" name="fileDesc">
    <br>
    <input type="file" name="upload">
    <br>
    <input type="submit" value="Send" id="submit">
  </form>
</div>